<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="checklist-video">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `checklist-video`
     * Es un elemento creado basado en uno de los video tutoriales
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistVideo extends Polymer.Element {
      static get is() { return 'checklist-video'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-video'
          }
        };
      }
    }

    window.customElements.define(ChecklistVideo.is, ChecklistVideo);
  </script>
</dom-module>
