<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">



<dom-module id="checklist-video">
  <template>

    <style>
      .task{
        display: flex;
        align-content: center;
      }
      paper-input{
        display: inline-block;
      }
    </style>

    <h2>My list!</h2>
    <dom-repeat 
      items="{{tasks}}" 
      as="task"
      filter="isNotCompleted"
      observe ="completed">

        <template is= "dom-repeat" >
          <div class="task">
              <paper-checkbox type="checkbox" checked="{{task.completed}}"></paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>
        </template>
    </dom-repeat>
    
    
    <h3>Completed !</h3>
    <dom-repeat 
    items="{{tasks}}" 
    as="task"
    filter="isCompleted"
    observe ="completed">

      <template is= "dom-repeat" >
        <div class="task"> 
            <paper-checkbox type="checkbox" checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
  </dom-repeat>
    <paper-button on-click="addTask" name="" raised>Add Task</paper-button>
  </template>

  <script>
    /**
     * `checklist-video`
     * Es un elemento creado basado en uno de los video tutoriales
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistVideo extends Polymer.Element {
      static get is() { return 'checklist-video'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-video'
          },
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }
      addTask(){
        const newTask = { 
        name : '',
        completed : false
        };
        this.push('tasks', newTask);
      }
      isNotCompleted(task){
        return !task.completed;
      }
      isCompleted(task){
        return task.completed;

     }
    }
  

    window.customElements.define(ChecklistVideo.is, ChecklistVideo);
  </script>
</dom-module>
